<nav class="container" style="overflow: auto;">
    <div class="container" style="height: 500px; width: 400px; background-color: gray; margin-top: 20px; border-radius: 9px;">
        <h1 style="text-align: center; margin-bottom: 10px; margin-top: 10px; color: white;"> SignUp </h1>
        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput" class="form-label" style="margin-top: 10px; color: white; font-weight: 500; font-size: 1.2rem;">Fisrt Name </label>
                <input type="text" class="form-control" placeholder=" Enter Your First name" aria-label="First name" style="width: 300px;">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput" class="form-label" style="margin-top: 10px;  color: white; font-weight: 500; font-size: 1.2rem">Last Name </label>
                <input type="text" class="form-control" placeholder=" Enter Your Last name" aria-label="Last name" style="width: 300px;">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput" class="form-label" style="margin-top: 10px;  color: white; font-weight: 500; font-size: 1.2rem;">Email</label>
                <input type="text" class="form-control" id="formGroupExampleInput"
                    placeholder="Enter Your Email" style="width: 300px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label" style="margin-top: 10px;  color: white; font-weight: 500; font-size: 1.2rem">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Create Password" style="width: 300px;">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Sign Up</button>
        </div>
    </div>
</nav>