<label for="exampleDataList" class="form-label" style="margin-top: 10px; margin-left: 10px; font-weight: 700; font-size: 1.5rem;">Enter The Project Name For Search</label>
<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." style="margin-top: 5px; margin-left: 10px; margin-right: 10px; margin-right: 10px;">
<button class="btn btn-outline-secondary" type="button" id="button-addon1" style="margin-top: 5px; margin-left: 10px; color: white; background-color: rgb(5, 5, 38);">Button</button>
<datalist id="datalistOptions">
  <option value="sukanya samridhi scheme">
  <option value="jan dhan yojna">
  <option value="clean ganga scheme">
  <option value="smart city scheme">
  <option value="">
</datalist>