<nav class="container-fluid" style="margin-top: 10px; text-align: center; justify-content: center; background-color: rgb(231, 233, 233);">
    <div class="container">
        <a routerLink="/home" style="color: rgb(8, 8, 54);"> Home  </a> >> Mandate
    </div>
    <div class="container2">
        <h6> NIC Kanker</h6>
        <p> This website is developed and maintained by NIC Kanker, dedicated to providing the service to the user projects related problems which are running under the NIC.</p>
    </div>
    
</nav>
