<nav class="container" style="overflow: auto; background-color: grey; height: 500px; margin-top: 10px; background-color: rgb(11, 5, 56);">
    <div class="container border-bottom" style="height: 80px; text-align: center;">
        <h1 style="margin-top: 5px; color: rgb(255, 255, 255); margin-top: 10px; font-weight: 700;"> Services </h1>
    </div>
    <div class="container" style="text-align: left;"> 
        <img src="https://maccia.org.in/bspp/uploads/background/3.png" width="500px" height="300" style="text-align: left;">
    </div>
    
</nav>