/*

.detail h3{
    color: white;
    margin: 0;
}
.detail li{
    color: white;
}
.icon i{
    color: white;
}
.container{
    display: flex;
    background-color: rgb(30, 32, 30);
   justify-content: space-evenly;
   text-shadow: 1px 1px 2px lightgreen;
   text-align: left;

   
   
}

.detail, .icon {
    padding: 0;
    margin: 0;
    list-style: none;
}*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    color: white;   
    background-color: #343434;
}
footer{
    padding-top: 50px;
}
.container{
    width : 1140px;
    margin : auto;
    display: flex;
    justify-content: center;
 overflow: hidden;
}
.footer-content{
    width : 33.3%
}
.footer-content h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
  text-shadow: 1px 2px 3px lightgreen;
   
}
.footer-content{
    width: 190px;
    margin: auto;
    padding: 7px;
    text-align: center;
}
.footer-content li{
    text-align: center;
    padding: 7px;
    width: auto;
    list-style: none;
    position: relative;
    
}
.footer-content i{
    font-size: 20px;
}


.footer-content a:hover{
    color: #f18930;
}
.footer-content i:hover{
    color: #f18930;
}
.bottom-bar{
    background-color: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;

}
.bottom-bar h5{
   
    margin: 0;
    font-size:16px;
    padding: 7px;
}
@media (max-width: 568px) {
    .container {
        flex-direction: column; 
      overflow-y: hidden;
      overflow-x: hidden;
      width: 200px;
    }

    .footer-content {
        margin-left:10px;
    }
}

@media (max-width: 576px) {
   

    
}