<!--div class="container">
    <ul class="detail">
        <h3> NIC Suppport Matrix </h3>
        <li> NIC Kanker </li>
        <li> 494336 </li>
    </ul>
    <ul class="icon" style="display: flex;">
        <i class="bi bi-telephone-fill" style="margin-right: 5px;"> </i>
        <h5 style="color: white;"> 62645-97573</h5>
    </ul>
</div-->

<footer>
    <div class="container border-bottom" style="text-shadow: 1px 1px 2px lightblue;">
        <ul class="nav" style="text-align: center; justify-content: center; border-bottom: 2px; border-color: white;">
            <li class="nav">
                <!--a routerLink="aboutthewebite">About The Website /</a-->
            </li>
            <li class="nav-item" style="margin-right: 10px;">
                <a class="nav-link" href="#">
                    <h3 style="font-size: 1.5rem;"> Term of Use /</h3>
                </a>
            </li>
            <li class="nav-item" style="margin-right: 10px;">
                <a class="nav-link" href="#">
                    <h3 style="font-size: 1.5rem;"> Website Policies /</h3>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-disabled="true">
                    <h3 style="font-size: 1.5rem; ">Help /</h3>
                </a>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="footer-content">
            <h3 style="margin-top: 30px;"> NIC Support Matrix</h3>
            <p> NIC Kanker (C.G) </p>
            <p> Pin Code : 494334</p>
        </div>
        <div class="footer-content">
            <h3 style="margin-top: 30px;">Contact US </h3>
            <h5 style="color: white;"> <i class="bi bi-telephone-fill" style="margin-right: 5px;"> </i> 62645-97573</h5>
            <h5 style="color: white; display: flex; justify-content: center; margin-top: 5px;">
                <li> <a href=""><i class="bi bi-whatsapp" style="margin-right: 5px;"></i> </a> </li> 7440988938
            </h5>
        </div>
        <div class="footer-content">
            <h3> Follow Us</h3>
            <ul style="display: flex; justify-content: center;">
                <li> <a href=""><i class="bi bi-facebook"></i> </a> </li>
                <li> <a href=""><i class="bi bi-instagram"></i> </a> </li>
                <li> <a href=""><i class="bi bi-linkedin"></i> </a> </li>
                <li> <a href=""><i class="bi bi-twitter"></i> </a> </li>
            </ul>
        </div>
    </div>
    <div class="bottom-bar">
        <h5> &copy; 2024 NIC Support Matrix : All Rights Reserved</h5>
    </div>
</footer>
