
    <!--div>
        <div>
            <marquee behavior="scroll" direction="left" scrollamount="20" loop style="color: rgb(13, 13, 93); font-size: 20px; background-color: yellow; padding: 10px;">
                Website is Design Using HTML, CSS, Bootstrap, JavaScript, Angular 
              </marquee>
              
        </div>
    </div-->
    <div class="container">
        <ul class="nav">
            <li class="nav">
                <!--a routerLink="aboutthewebite">About The Website /</a-->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Term of Use /</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Website Policies /</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-disabled="true">Help /</a>
            </li>
        </ul>
    </div>
