<div class="container" style="overflow: auto; background-image: url(https://static.vecteezy.com/system/resources/thumbnails/003/689/230/small/online-registration-or-sign-up-login-for-account-on-smartphone-app-user-interface-with-secure-password-mobile-application-for-ui-web-banner-access-cartoon-people-illustration-vector.jpg);">
    <div class="container" style="height: 600px; width: 400px; background-color: rgb(26, 79, 117); background: linear-gradient(90deg,hsla(205,46%,30%,1) 0%, hsla(260,29%,36%,1) 100% ); margin-top: 20px; border-radius: 9px;">
        <h1 style="text-align: center; margin-bottom: 10px; margin-top: 10px; color: white;"> SignUp </h1>
        <h6 style="color: white; text-align: center;"> Please fill the details </h6>
        <form id="signupForm">
            <div class="row">
                <div class="col">
                    <label for="firstname" class="form-label" style="margin-top: 10px; color: white; font-weight: 500; font-size: 1.2rem;">First Name</label>
                    <input type="text" id="firstname" class="form-control" placeholder="Enter Your First name" aria-label="First name" style="width: 300px;" required>
                    <div id="firstnameError" class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="lastname" class="form-label" style="margin-top: 10px; color: white; font-weight: 500; font-size: 1.2rem;">Last Name</label>
                    <input type="text" id="lastname" class="form-control" placeholder="Enter Your Last name" aria-label="Last name" style="width: 300px;" required>
                    <div id="lastnameError" class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="emailid" class="form-label" style="margin-top: 10px; color: white; font-weight: 500; font-size: 1.2rem;">Email</label>
                    <input type="email" class="form-control" id="emailid" placeholder="Enter Your Email" style="width: 300px;" required>
                    <div id="emailError" class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="mobilenumber" class="form-label" style="margin-top: 10px; color: white; font-weight: 500; font-size: 1.2rem;">Mobile Number</label>
                    <input type="text" class="form-control" id="mobilenumber" placeholder="Enter Your Mobile Number" style="width: 300px;" required>
                    <div id="mobileError" class="error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="password" class="form-label" style="margin-top: 10px; color: white; font-weight: 500; font-size: 1.2rem;">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Create Password" style="width: 300px;" required>
                    <div id="passwordError" class="error"></div>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Sign Up</button>
            </div>
        </form>
    </div>
</div>
