<nav class="container" style="overflow: auto;">
    <div class="container" style="height: 500px; width: 400px; background-color: rgb(26, 79, 117); background: linear-gradient(90deg,hsla(205,46%,30%,1) 0%, hsla(260,29%,36%,1) 100% ); margin-top: 20px; border-radius: 9px; background-image: image();">
        <h1 style="text-align: center; margin-bottom: 10px; margin-top: 10px; color: white;"> Login </h1>
        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput" class="form-label" style="margin-top: 10px;  color: white; font-weight: 500; font-size: 1.2rem">Email</label>
                <input type="text" class="form-control" id="formGroupExampleInput"
                    placeholder="Enter Your Email" style="width: 300px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label" style="margin-top: 10px;  color: white; font-weight: 500; font-size: 1.2rem">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Enter Password" style="width: 300px;">
            </div>
        </div>
        <div class="col-auto">
            <a routerLink="/hod-form"><button type="submit" class="btn btn-primary" style="margin-top: 10px;">Login</button></a>
        </div>
    </div>
</nav>

<!--div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1> Login</h1>
            <h6 style="color: white;"> Please Enter Email and Password </h6>
          </div>
          <form>
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text" style="color: rgb(154, 145, 127);">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Accept The Term and Conditions</label>
                </div>
                <a routerLink="/hod-form"><button type="submit" class="btn btn-primary" style="margin-top: 10px;">Login</button></a>
              </form>
          </form>
        </div>
      </div>
    </div-->
  <!--/div-->