<nav class="container-fluid">
    <div class="container">
        <a routerLink="/home"> Home </a> >> Contact Us
    </div>
    <div class="contact">
        <h5 style="border-bottom: 1.70px darkblue; font-size: 2rem; font-weight: 700; text-shadow: 2px 2px 2px rgb(208, 153, 0); color: rgb(7, 7, 79);"> CONTACT US </h5>
        <div class="text-center">
            <div class="row" style="justify-content: space-evenly;">
                <div class="col" style="background-color: white; margin-left: 80px; margin-right: 10px; margin-top: 60px; margin-bottom: 10px; border: 1px solid rgb(248, 133, 84);" >
                   <h6 style="text-align: left;"> <i class="bi bi-geo-alt-fill"></i> NIC Support Matrix(NIC Kanker)</h6> 
                    <a href="https://www.google.com/maps/place/Collectorate/@20.2667125,81.4962685,17z/data=!3m1!4b1!4m6!3m5!1s0x3a2efd9e0518cda5:0xe947c615bc016b!8m2!3d20.2667075!4d81.4988434!16s%2Fg%2F1tp25pxz?entry=ttu" style="text-decoration: none;"><p style="text-align: left;"> 7F8X+MGP, near Govindpur Bus Stand, Govindpur, Kanker, Chhattisgarh 494334 </p></a>
                </div>
                <div class="col" style="background-color: white; margin-left: 10px; margin-right: 80px; margin-top: 60px; margin-bottom: 10px; border: 1px solid rgb(248, 133, 84);">
                   <h5 style="text-align: left;"><i class="bi bi-person-lines-fill"></i>  Contact Numbers </h5>
                   <h6 style="text-align: left;"> <i class="bi bi-telephone-inbound-fill"></i> 7868241222</h6>
                   <h6 style="text-align: left;"> <i class="bi bi-telephone-inbound-fill"></i> 6264597573</h6>
                </div>
            </div>
            <div class="row">
                <div class="col" style="background-color: white; margin-left:80px; margin-right:10px; margin-top: 100px; margin-bottom: 60px; border: 1px solid rgb(248, 133, 84);">
                    <h5> Service Desk</h5>
                </div>
                <div class="col" style="background-color: white; margin-left: 10px; margin-right:80px; margin-top:10px; margin-bottom: 60px; border: 1px solid rgb(248, 133, 84);">
                   <h5 style="text-align: left;"> <i class="bi bi-envelope-arrow-down"></i> Email</h5>
                   <h6 style="text-align: left;">chandninishad953gmail.com</h6>
                </div>
            </div>
            
        </div>
    </div>
</nav>
