<form [formGroup]="hodForm" (ngSubmit)="onSubmit()" style="background-color: #f9f9f9; color: rgb(3, 3, 3); padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; font-size: 1.2rem; margin-top: 20px; margin-bottom: 20px; margin-left: 10px; margin-left: 10px;">
    <label for="AddingProjects" class="form-label" style="font-size: 1.5rem; font-weight: 700;">Add New Projects </label>
    <div class="mb-3">
      <label for="ProjectName" class="form-label">Enter Project Name : </label>
      <input type="Project Name" formControlName="projectname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <!--div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div-->
    </div>
    <div class="mb-3">
      <label for="HODName" class="form-label">Enter Project HOD Name : </label>
      <input type="HOD Name"  formControlName="hodname" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="MobileNumber" class="form-label">Enter HOD Contact Number : </label>
        <input type="Mobile Number" formControlname="contactnumber" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="EmailAddress" class="form-label">Enter HOD Email id : </label>
        <input type="Mail id" formControlname="hodemail" class="form-control" id="exampleInputPassword1">
      </div>
    <!--div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div-->
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Transfer</button><label style="color: #333; font-size:small; margin-left:5px;"> The Details are Transfered to Admin </label>
    </form>
