<nav class="container-fluid" style="margin-top: 10px; text-align: center; justify-content: center; background-color: rgb(231, 233, 233);">
    <div class="container" style="background: transparent;">
        <a routerLink="/home"> Home  </a> >> Services
    </div>

    <h4 style="color: rgb(6, 75, 97);"> Our Core Services to Provide the Help to Users  </h4>
    <h6 style="color: rgb(1, 1, 23);"> NIC Support Matrix as the Clear that we  provide the users to running projects and schemes in india which is handles by NIC(National Infromatics Center) </h6>
</nav>
