<nav class="container" style="width:100%; height: 500px; background-color:#474646; color: white; text-align: center;">
    <div class="container border-bottom" style="height: 80px; ">
        <h1 style="margin-top: 5px;"> Contact US</h1>
    </div>
    <div class="container-fluid"> 
        <h4 style="margin-top: 5px;"> We'd <i class="bi bi-heart"></i> to help </h4>
        <a href="https://www.google.com/maps/dir//7F8X%2BMGP,+near+Govindpur+Bus+Stand,+Govindpur,+Kanker,+Chhattisgarh+494334/@20.2666882,81.4164417,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a2efd9e0518cda5:0xe947c615bc016b!2m2!1d81.4988434!2d20.2667074?entry=ttu"
            style="display: flex; text-align: center; color: white; text-decoration: none;"><i
                class="bi bi-geo-alt-fill" style="font-size: 1.5rem; margin-left: 10px;"></i>
            <h4 style="margin-left: 10px; text-decoration: none;"> Collectorate, 7F8X+MGP, near Govindpur Bus Stand,
                Govindpur, Kanker, Chhattisgarh 494334 </h4>
        </a>
        <a href="#" style="display: flex; color: white; text-decoration: none;"> <i class="bi bi-telephone-inbound"
                style="font-size: 1.5rem; margin-left: 10px;"></i>
            <h4 style="margin-left: 10px;">6264597573</h4>
        </a>
        <a href="https://wa.me/917440988938" style="display: flex; color: white; text-decoration: none;"> <i
                class="bi bi-whatsapp" style="font-size: 1.5rem; margin-left: 10px;"></i>
            <h4 style="margin-left: 10px;"> 7440988938</h4>
        </a>
        <a href="mailto:chandninishad953@gmail.com" style="display: flex; color: white; text-decoration: none;"><i
                class="bi bi-envelope-at" style="font-size: 1.5rem; margin-left: 10px;"></i>
            <h4 style="margin-left: 10px;"> chandninishad953(at-the-rate gmail.com) </h4>
        </a>
    </div>
</nav>